*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html{
    font-size: 62.5%;
}



/* Navegation */



.contact-header{
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: #F763A1;
}

.quote{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    left: 125px;
    padding-left: 1.5rem;
    border-left: 1px #fff solid;
}

.quote strong{
    color:#fff
}

.contact-header p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #fff;
}

.phone{
    border-right: 1px #fff solid;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    letter-spacing: 0.15rem;
}

.contact-header a{
    color: #fff;
}

.bi-facebook,
.bi-instagram,
.bi-tiktok
{
    height: 25px;
    width: 25px;
}

.bi-facebook:hover,
.bi-instagram:hover,
.bi-tiktok:hover
{
    color: #F763A1;
}

.nav-social-media{
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    right: 125px;
    height: 4rem;
    /* border: 1px black solid; */
}

.nav-social-media li{
    display: flex;
    align-items: center;
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;
    height: 4rem;
    padding: 0 1rem 0 1rem;
}

.nav-social-media ul:hover{
    color: #F763A1;
}

.nav-social-media li:hover{
    background: #fff;
}

.nav{
    display: flex;
    /* border: 1px black solid; */
    align-items: center;
    padding: 1rem;
}

.logo{
    width: 15rem;
    height: 100%;
    position: relative;
    left: 125px;
}

.nav-links{
    display: flex;
    gap: 5rem;
    position: absolute;
    right: 125px;
    

    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;

    /* border: 1px black solid; */

}

.nav-links a{
    color: #000;
}

.nav-links a:hover{
    border-bottom: #F763A1 solid 3px;
}



/* Main header */



.welcome{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.777), rgba(255, 255, 255, 0)), url(../images/welcome.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 525px;
}

.welcome h1{
    width: 600px;
    margin-left: 125px;
    margin-top: 7rem;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    color: #fff;
}

.welcome p{
    width: 500px;
    margin-left: 125px;

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #fff;
}

.intro_btn{
    display: flex;
    gap: 5rem;
    margin-left: 125px;
}

.welcome button{
    width: 165px;
    height: 50px;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.75px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(#fc73ac, #F763A1);
    color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2 ease;
}

.welcome button:hover{
    background: linear-gradient(#fb65a3, #f84f96);
}

.welcome button:active{
    transform: scale(0.96);
}



/* Services homepage */



.services{
    display: flex;
    flex-direction: column;
    gap: 13rem;
    align-items: center;
    margin: 15rem 0 15rem 0;
}

.services h2,
.process h2,
.whyus h2{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.75px;
    text-align: center;

    color: #06855A;
}

.services p,
.process p{
    width: 900px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2rem;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 3rem;

    color: #000;
}

.services mark{
    color:#06855A;
    background: #fff;
    font-weight: 600;
}

.services img{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.services-cards{
    display: flex;
    gap: 7rem;
    /* border: 1px black solid; */
}

.card{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    /* border: 1px black solid; */
}

.card h3{
    font-family: "Raleway", sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 0.75px;
    /* text-align: center; */

    color: #06855A;
}

.card p{
    width: 350px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 2.6rem;

    color: #000;

}


.services button{
    width: 200px;
    height: 50px;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.75px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(#fc73ac, #F763A1);
    color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2 ease;
}

.services button:hover{
    background: linear-gradient(#fb65a3, #f84f96);
}

.services button:active{
    transform: scale(0.96);
}



/* services main page */



.services2{
    display: flex;
    flex-direction: column;
    gap: 13rem;
    align-items: center;
    padding-top: 10rem;
    background: #f9f9f9;

    /* border: 1px black solid; */
}

.services2 h1{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.75px;
    text-align: center;

    color: #06855A;
}

.services2 p{
    width: 1010px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2rem;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 3rem;

    color: #000;

}

.services2 mark{
    color:#06855A;
    background: #f9f9f9;
    font-weight: 600;
}

.services2 img{
    width: 500px;
    height: 450px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.services-cards2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 7rem; */
    background: #fff;
    /* padding: 10rem 7.813rem 10rem 7.813rem; */

    /* border: 1px black solid; */
}

.card1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15rem;
    padding-top: 12rem;
    padding-left: 13rem;
    padding-bottom: 12rem;

    /* border: 1px black solid; */
}

.card2{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15rem;
    padding-top: 12rem;
    padding-right: 13rem;
    padding-bottom: 12rem;

    /* border: 1px black solid; */
}

.incard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.incard h2{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.75px;
    /* text-align: center; */

    color: #06855A;
}

.incard p{
    width: 550px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 3rem;

    color: #000;

}


.services2 button,
.us button{
    width: 200px;
    height: 50px;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.75px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(#fc73ac, #F763A1);
    color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2 ease;
}

.services2 button:hover,
.us button:hover{
    background: linear-gradient(#fb65a3, #f84f96);
}

.services2 button:active,
.us button:active{
    transform: scale(0.96);
}

.process{
    display: flex;
    flex-direction: column;
    gap: 13rem;
    align-items: center;
    padding: 15rem 0 15rem 0;

    background: #f4f4f4;
    /* border: 1px black solid; */
}

.process mark{
    color:#06855A;
    background: #f4f4f4;
    font-weight: 600;
}

.process-list{
    width: 1175px;
    display: flex;
    gap: 8rem;
}

.process-list img{
    width: 625px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.process-list ol{
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 5rem 0 3rem 0;
}

.process-list li{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.75px;
    border-radius: 5px;
    color: #06855A;
}

.process-list p{
    width: 450px;
    font-size: 1.7rem;
    margin-bottom: 3rem;
}



/* About Us Page */



.aboutus{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10rem;
    padding: 10rem 0 10rem 13rem;
    /* align-items: center; */
    /* padding-top: 10rem; */
    background: #f9f9f9;

    /* border: 1px black solid; */
}

.us{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 13rem 0 0;
    gap: 5rem;
}

.aboutus h1{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.75px;
    text-align: center;

    color: #06855A;
}

.aboutus p{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2rem;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 3rem;

    color: #000;
}

.aboutus mark{
    color:#06855A;
    background: #f9f9f9;
    font-weight: 600;
}

.aboutus img{
    width: 500px;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.whyus{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 15rem 0 15rem 0;
    background: #fff;
    /* border: 1px black solid; */
}

.whyus li{
    list-style: circle;
    color: #000;
}

.whyus h3{
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-align: center;

    color: #000;
}


.whyus-list{
    margin-top: 4rem;
    width: 900px;
    display: flex;
    gap: 8rem;
}

.whyus-list ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin: 3rem 0 3rem 0;
}

.whyus-list li{
    font-family: "Roboto", sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    letter-spacing: 0.75px;
    border-radius: 5px;
    color: #000;
}

strong{
    color:#06855A;
    font-weight: 600;
}



/* Contact Us Page */



.contact{
    display: flex;
    margin: 5rem 13rem 10rem 13rem;
    gap: 13rem;
    border: 5px #f4a4c5 solid;
}

.contact img{
    width: 400px;
    height: 100%;
    /* border: 5px #f4a4c5 solid; */
}

.contact-info{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* border: 5px #f4a4c5 solid; */
}

.contact-info ul{
    display: flex;
    flex-direction: column;
}

.contact-f{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    /* border: 5px #f4a4c5 solid; */
}

.f{
    display: flex;
    gap: 2rem;
    /* align-items: start;
    justify-content: center; */
    margin-left: 4rem;
}

.contact-f a{
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.contact-info p{
    font-family: "Roboto", sans-serif;
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: 0.75px;
}
.contact-info a{
    color: #000;
}

.bi-envelope,
.bi-telephone,
.bi-geo-alt{
    width: 3rem;
    height: 100%;
    color: #f4a4c5;
}

form{
    background: #f4a4c5;
    display: flex;
    flex-direction: column;
    padding: 50px;
    /* margin: 5rem 13rem 10rem 13rem; */
}

form h1{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 30px;
}

form input,
form select{
    border: 0;
    margin: 10px 0;
    width: 430px;
    height: 40px;
    outline: none;
    background: #fff;
    font-size: 16px;
    padding: 6px 0 15px 10px;
}

form textarea{
    border: 0;
    margin: 10px 0;
    width: 430px;
    height: 150px;
    outline: none;
    background: #fff;
    padding: 6px 0 15px 10px;
    font-size: 16px;
}

form button{
    padding: 15px;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}



/* Footer */



footer{
    background: #06855A;
    display: flex;
    justify-content: center;
    gap: 14rem;
    padding: 9rem 0 9rem 0;
    /* border: 1px black solid; */
}

.f-socialmedia{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    /* border: 1px black solid; */
}

.f-socialmedia ul{
    margin-left: 1rem;
    display: flex;
    gap: 4rem;
}

.f-facebook,
.f-instagram,
.f-tiktok{
    height: 35px;
    width: 35px;
}

.f-socialmedia a{
    color: #fff;
}

.f-services,
.f-contact,
.f-location{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    color: #fff;
    /* border: 1px black solid; */
}

.f-services h5,
.f-contact h5,
.f-location h5{
    font-family: "Raleway", sans-serif;
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 2px;
}

.f-services ul,
.f-contact ul,
.f-location ul{
    display: flex;
    flex-direction: column;
}

.f-services li,
.f-contact li,
.f-location li{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.7rem;
    letter-spacing: 1.5px;
    line-height: 3.5rem;
}

.f-services p,
.f-contact p,
.f-location p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    line-height: 3rem;
}

.f-services a,
.f-contact a,
.f-location a{
    color: #fff;
}








