%btn{
    height: 50px;
    font-family: $primary_font_family;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.75px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2 ease;

    &:hover{
        background: darken($clr-primary, 7%);
    }

    &:active{
        transform: scale(0.96);
    }
}

.btn-primary{
    @extend %btn;
    background: linear-gradient(lighten($clr-primary, 2%), $clr-primary);
    width: 165px;
    color: $clr-ntrl-min;
}

.btn-secondary{
    @extend %btn;
    background: linear-gradient(lighten($clr-primary, 2%), $clr-primary);
    width: 200px;
    color: $clr-ntrl-min;
}

.btn-tertiary{
    @extend %btn;
    background: darken($clr-ligth-gray, 10%);
    width: 200px;
    color: $clr-ntrl-max;

    &:hover{
        background: darken($clr-ligth-gray, 20%);
    }
}




