$clr-primary: #F763A1;
$clr-secondary: #06855A;
$clr-ntrl-min: #fff;
$clr-gray: #f4f4f4;
$clr-ligth-gray: #f9f9f9;
$clr-ntrl-max: #000;
$border-clr-ligth: #fff;

$primary_font_family: "Roboto", sans-serif;
$secondary_font_family: "Raleway", sans-serif;

$fs-base: 2.2rem;
$fs-low: 2rem;
$fs-milli: 1.8rem;
$fs-nano:  1.6rem;

$fs-h1: 3.5rem;
$fs-h2: 3rem;
$fs-h3: 2.4rem;
