footer{
    background: $clr-secondary;
    display: flex;
    justify-content: center;
    gap: 15rem;
    padding: 9rem 0 9rem 0;

    .f-socialmedia{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;

        ul{
            margin-left: 0;
            display: flex;
            gap: 4rem;

            .f-facebook,
            .f-instagram,
            .f-tiktok{
                height: 35px;
                width: 35px;
            }
        }
    }

    .f-services{
        @extend %footer-sect;

        h4{
            @extend %footer-h4;
        }

        ul{
            @extend %footer-ul;

            li{
                @extend %footer-li;
            }
        }
    }

    .f-contact{
        @extend %footer-sect;

        h4{
            @extend %footer-h4;
        }

        ul{
            @extend %footer-ul;

            li{
                @extend %footer-li;
            }

            p{
                font-family: $primary_font_family;
                font-weight: 500;
                font-style: normal;
                font-size: $fs-nano;
                letter-spacing: 1.2px;
                line-height: 3rem;
            }
        }
    }

    .f-location{
        @extend %footer-sect;

        h4{
            @extend %footer-h4;
        }

        ul{
            @extend %footer-ul;

            li{
                @extend %footer-li;
            }
        }
    }

    a{
        color: $clr-ntrl-min;
        text-decoration: none;
    }
}