header{

    .contact-header{
        display: flex;
        height: 4rem;
        width: 100%;
        background-color: $clr-primary;

        .quote{
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;
            top: 5px;
            left: 125px;
            padding-left: 1.5rem;
            // border-left: 1px $clr-ntrl-max solid;

            p{
                font-family: $primary_font_family;
                font-weight: 400;
                font-style: normal;
                font-size: 1.5rem;
                color: $clr-ntrl-max;

                strong{
                    color:$clr-ntrl-max;
                }
            }

            .phone{
                // border-right: 1px $border-clr-ligth solid;
                height: 4rem;
                display: flex;
                align-items: center;
                padding-right: 1.5rem;
                letter-spacing: 0.15rem;
            }
            
        }
        
        a{
            color: $clr-ntrl-max;
            font-family: $primary_font_family;
            font-weight: 425;
            font-style: normal;
            font-size: 1.5rem;
        }

        .languages{
            display: flex;
            gap: 2rem;
            position: absolute;
            top: 10px;
            right: 300px;

            a{
                text-decoration: none;

                img{
                    width: 20px;
                    height: 15px;
                    position: relative;
                    bottom: 1px;
                    right: 1px;
                    border: $clr-ntrl-max 1.5px solid;
                    border-radius: 4px;
                }
            }

            
        }

        ul{
            display: flex;
            align-items: center;
            justify-content:space-around;
            gap: 0.5rem;
            position: absolute;
            right: 125px;
            height: 4rem;

            li{
                display: flex;
                align-items: center;
                // border-left: 1px $border-clr-ligth solid;
                // border-right: 1px $border-clr-ligth solid;
                height: 4rem;
                padding: 0 1rem 0 1rem;

                .bi-facebook,
                .bi-instagram,
                .bi-tiktok
                {
                    height: 21px;
                    width: 21px;
                    // &:hover{
                    //     color: $clr-primary;
                    // }
                }
                &:hover{
                    background: $clr-ntrl-min;
                    
                }
            }

        

        }

        
    }

    .nav2{
        display: flex;
        align-items: center;
        padding: 1rem;

        .logo{
            width: 15rem;
            height: 100%;
            position: relative;
            left: 125px;
        }

        .phone2{
            display: none;
        }

        .navbar{
            position: absolute;
            right: 114px;
            height: 30px;

            .container-fluid{
                width: 100%;
                background-color: $clr-ntrl-min;
                // height: 30px;
                /* border: 1px black solid; */

                .navbar-brand{
                    display: none;
                }

                .collapse{

                    .navbar-nav{
                        display: flex;
                        gap: 4rem;
                        margin: 0;
                        padding: 0;
                        font-family: $secondary_font_family;
                        font-weight: 600;
                        font-style: normal;
                        font-size: $fs-milli;
                        /* border: 1px black solid; */
            
                        li{
                            margin: 0;
                        }
            
                        a{
                            text-decoration: none;
                            height: 32px;
                            margin: 0;
                            color: $clr-ntrl-max;
            
                            &:hover{
                                border-bottom: $clr-primary solid 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}