.services2{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
    padding: 10rem 0 0 0;
    background: $clr-gray;

    h1{
        font-family: $secondary_font_family;
        font-size: $fs-h1;
        font-weight: 800;
        letter-spacing: 0.75px;
        text-align: center;
        color: $clr-secondary;
    }

    p{
        @extend %par;
        width: 1005px;
        
        mark{
            color:#06855A;
            background: $clr-gray;
            font-weight: 600;
        }
    }

    .services-cards2{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15rem;
        justify-content: center;
        background: $clr-ntrl-min;
        padding: 20rem 0 10rem 0;

        .card1{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15rem;
            padding: 0 0 12rem 13rem;

            .incard{
                @extend %in-card;

                h2{
                    @extend %in-card-h2;
                }

                p{
                    @extend %in-card-par;
                }
            }
        }

        .card2{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 15rem;
            padding: 0 12rem 12rem 0;

            .incard{
                @extend %in-card;

                h2{
                    @extend %in-card-h2;
                }

                p{
                    @extend %in-card-par;
                }
            }
        }

        img{
            width: 500px;
            height: 450px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        }
    }
}